body {
    margin: 0;
    padding: 0;
}
  
.logo {
    height: 4.7rem;
    width: 9rem;
}
  
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 3rem 2rem;
}
  
.navbar_links {
    margin-right: 8rem;
}
  
.navbar_links ul {
    display: flex;
    padding: 0;
}
  
.navbar_links li {
    list-style: none;
}
  
.navbar_links li a {
    text-decoration: none;
    padding: 1.55rem;
    display: block;
    color: black;
    font-size: 1.05rem;
    font-weight: bold;
}
  
.search_box {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1.6rem;
    margin-bottom: 0.1rem;
}
  
.user {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1.6rem;
    margin-bottom: 0.1rem;
}
  
.order {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1.6rem;
    margin-bottom: 0.1rem;
}

.border {
    background-color: #a37f51;
    margin-right: 10em;
    margin-left: 10em;
    border-width: 5px;
    border-style: solid
}

h1 {
    color: white;
    margin-left: 225px;
    font-size: 200%;
}

hr {
    color: white;
    width: 65%;
}

.userin {
    text-align: center;
    align-self: center;
    border-style: solid;
    border-width: 6px;
    margin-left: 400px;
    margin-right: 400px;
}
.accin {
    text-align: center;
    align-self: center;
    border-style: solid;
    border-width: 6px;
    margin-left: 200px;
    margin-right: 400px;
    font-size: 100%;
}

h3 {
    color: white;
    margin-left: 225px;
    font-size: 130%;
}


.form {
    color: white;
    margin-left: 225px;
    font-size: 200%;
}

.gender {
    color: white;
    text-align: left;
    margin-left: 225px;
    font-size: 200%;
}


.textbox {
    font-size: 80%;
}

.rb {
    
}

label{
    display:inline-block;
    width:300px;
    margin-right:30px;
    text-align:left;
    }
    
    
    fieldset{
    border:none;
    width:100px;
    margin:0px auto;
    }


.submit {
    height: 2em;
    width: 6em;
    color: white;
    background-color: black;
    font-size: 0.8em;
    margin-top: 20px;
    margin-bottom: 60px;
}
